.logincontainer {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    height:initial;
  }
  
  .appLogo1 {
    left: 30%;
    
    top: 10%; 
    width: 194px;
    height: 201px; 
  }
  
  .login1 {
    font-size: 36px;
    top: 10%;
    color: black;
    text-align: center;
    font-weight: 800;
  }
  
  .rectangleParent {
    top: 20%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .frameLayout1 {
    height: 55px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #ffff;
    padding-left: 4%;
    top: 10%;
  }
  
  .frameLayout {
    height: 30px;
    margin: 1%;
    width: 20%;
    border-radius: 5px;
    border: 2px solid black;
    padding-left: 1%;
    background-color: #ffff;
  }
  
  .rectangleView {
    
    width: 8%;
    height: 3px;
    border-radius: 5px;
    background-color: #303030;
  /*   padding: 3%; */
   padding-bottom: 2%; 
   padding-top: 1%;
    font-weight: 600;
    
    color: #ffffff;
    text-align: center;
    
   
    
    
  }
  
  .login2 {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
   
  }
  
  .loginChild {
    top: 23%;
    width: 100%;
    height: 190px;
    left: 0;
  }
  
  .dontHaveAn {
    font-family: Arial, sans-serif;
  }
  
  .loginTypo {
    font-weight: 800;
  }
  
  .dontHaveAnContainer {
   
    font-size: 14px;
    color: black;
    text-align: center;
  }
  
  /* Add additional CSS styles as needed */
  